name: Java CI with Gradle
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: |
          mkdir -p /home/runner/.gradle/caches/fabric-loom/assets
          ./gradlew check fabric:runDatagen forge:runData build publish curseforge modrinth --stacktrace --no-daemon
        env:
          curesforgeapikey: ${{secrets.CURESFORGEAPIKEY}}
          modrinthapikey: ${{secrets.MODRINTH}}
          githubtoken: ${{secrets.GITHUBTOKEN}}
          mavenpassword: ${{secrets.MAVEN_PASSWORD}}
      - name: Zip create
        run: |
          cd build/libs
          cp -r ../../fabric/build/libs fabric
          cp -r ../../forge/build/libs forge
          zip -r release ./
          mv release.zip ../
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: Release
          path: build/libs
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: IamMusicPlayer - ${{ github.ref }}
          body: |
            The New Release!
            Build by ${{ github.actor }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: |
            ./fabric/build/libs/*.jar
            ./forge/build/libs/*.jar